<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu0yOi5o8hY7jPVrFCegkjMICHhPSOYPY</string>
	<key>GCM_SENDER_ID</key>
	<string>785100952083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.crewfit.app</string>
	<key>PROJECT_ID</key>
	<string>crewfit-389df</string>
	<key>STORAGE_BUCKET</key>
	<string>crewfit-389df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785100952083:ios:8810b41736d92426eae5e6</string>
</dict>
</plist>